:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
body {
  margin: 0 auto;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 900px;
  padding-bottom: 24px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  background-color: #1A1A1A;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646CFF;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #FFFFFF;
  }
  a:hover {
    color: #747BFF;
  }
  button {
    background-color: #F9F9F9;
  }
}
.posts-container {
  margin: 8px 0;
}
.sign-in-btn {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiFormControl-root {
  max-width: 500px;
  margin: 0 auto;
}